---
import paint from "../../public/paint.png?url"
import portrait from "../../public/main-portrait.jpg?url"
---


<div class="relative mx-12 flex flex-col items-center justify-center">
    <h1 class="text-x1"> Enter Hua's Doodle-Dazzled <span class="font-bold"> Digital Universe! </span>
    </h1>

    <div class="relative">

        <svg class="absolute h-full w-full overflow-visible" width="540" height="255" viewBox="0 0 540 255" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M538 253.5V167H2L2 2" stroke="url(#paint0_linear_6_33)" stroke-width="3" stroke-linecap="round"/>
            <defs>
            <linearGradient id="paint0_linear_6_33" x1="2.00009" y1="50.9998" x2="589" y2="275.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#DC3A2B"/>
            <stop offset="1" stop-color="#E18510"/>
            </linearGradient>
            </defs>
            </svg>
            
        <p id="anim-p" class="p-6 text-lg"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor turpis vitae libero semper, in luctus arcu laoreet. Ut quam velit, tempus ut orci vitae, mollis tempus leo. Ut laoreet ex vel lobortis porta
<br />
<br />
            Morbi non dui at mauris venenatis convallis. Fusce tincidunt, ligula vel auctor imperdiet, lorem lacus fringilla ligula, eu finibus odio sapien cursus eros.
<br />
<br />  
            Sed sed mi lorem. Suspendisse lacus diam, feugiat quis metus a, hendrerit maximus mi. Suspendisse orci sem, aliquet ac erat vel, laoreet rutrum ligula.
        </p>
</div>
<div class="flex justify-center pt-12 text-center">
    <div class="w-32">
        <h2> Art Posts </h2>
        <p class="text-xl font-bold"> 85 </p>
    </div>
    <div class="w-32">
        <h2> Youtube </h2>
        <p class="text-xl font-bold"> 1.2 mil </p>
    </div>
    <div class="w-32">
        <h2> Reviews </h2>
        <p class="text-xl font-bold"> 50 </p>
    </div>
</div>
<div class="relative">
    <img class="h-full" src={portrait} alt="portrait" />
    <div class="absolute bottom-0 right-0 translate-y-1/4">
        <img src={paint} alt="paint" />
    </div>
</div>
</div>

<div class="mt-12 h-6 w-full bg-black"> </div>
